@{
    ViewData["Title"] = "Home Page";
}

<div class="">

   @*  <input type="text" value="Text to be copied" id="hiddenInput" style="position: absolute; left: -9999px; top: -9999px;">

    <button id="copyButton">Copy Text</button> *@

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Table design</label>
        <textarea class="form-control" id="input" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary" onclick="getColumnDetail()">Get detail</button>
    <button type="button" class="btn btn-primary" onclick="genTableData()">Gen data</button>
    <button type="button" class="btn btn-primary" onclick="genTableDataFullLength()">Gen data full-length</button>

    <div class="row">
        <div class="col-md-8 text-bg-secondary">
            <div id="table-column">
                <div class="row">
                    <div class="col-md-2" id="column-no"></div>
                    <div class="col-md-4" id="column-name"></div>
                    <div class="col-md-4" id="column-type"></div>
                    <div class="col-md-2" id="column-length"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="table-data" class="table-data">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}
