@{
    ViewData["Title"] = "Home Page";
}

<div class="">

   @*  <input type="text" value="Text to be copied" id="hiddenInput" style="position: absolute; left: -9999px; top: -9999px;">

    <button id="copyButton">Copy Text</button> *@

    <div class="row">
        <div class="col-md-1">
            <div style="position: fixed">
                <div class="mb-4"><img src="img/noel-tree.gif" title="noel-img" style="max-height: 140px; max-width: 140px;" /></div>
                <div class="mb-4"><img src="img/tuan-loc.gif" title="noel-img" style="max-height: 140px; max-width: 140px;" /></div>
                <div class="mb-4"><img src="img/tuan-loc-1.gif" title="noel-img" style="max-height: 140px; max-width: 140px;" /></div>
                <div class="mb-4"><img src="img/tuan-loc-3.gif" title="noel-img" style="max-height: 140px; max-width: 140px;" /></div>
                <div class="mb-4"><img src="img/meo.gif" title="noel-img" style="max-height: 140px; max-width: 140px;" /></div>
            </div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-1">
                        <input type="text" class="form-control" id="site-code" value="9993273" placeholder="拠点コード: 9993273" />
                    </div>
                    <div class="mb-1">
                        <input type="text" class="form-control" id="kino-id" placeholder="KinoID: SC0104_0030_01I" autocomplete="on" />
                    </div>
                    <div class="mb-1">
                        <input type="text" class="form-control" id="system-name" placeholder="System name: My-PC" autocomplete="on" />
                    </div>
                    <div class="mb-1">
                        <input type="text" class="form-control" id="column-key" placeholder="Column key: ファイル名" autocomplete="on" />
                    </div>
                    <div class="mb-1">
                        <input type="number" class="form-control" id="number-record" placeholder="Number record: 1" min="1" max="20" autocomplete="on" hidden />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="table-name" placeholder="Table name: SC_M_会員生協" autocomplete="on" />
                    </div>
                    <div class="mb-3">
                        <label for="tableDesign" class="form-label">Table design</label>
                        <textarea class="form-control" id="table-design" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="mb-3">
                        <button type="button" class="btn btn-success" onclick="getColumnDetail()">Detail</button>
                        <button type="button" class="btn btn-primary" onclick="genTableData()">Normal data</button>
                        <button type="button" class="btn btn-info" onclick="genTableDataFullLength()">Full-length data</button>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-7 text-bg-secondary">
                                <div id="table-column">
                                    <div class="row">
                                        <div class="col-md-1" id="column-no"></div>
                                        <div class="col-md-6" id="column-name"></div>
                                        <div class="col-md-3" id="column-type"></div>
                                        <div class="col-md-2" id="column-length"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div id="table-data" class="table-data mb-3">
                                </div>
                                <textarea id="table-data-textarea" hidden></textarea>
                                <textarea id="table-data-column" hidden></textarea>
                                
                                <button type="button" class="btn btn-success" onclick="copyToClipboard('table-data-column')">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i> Copy column
                                </button>
                                <button type="button" class="btn btn-primary" onclick="copyToClipboard('table-data-textarea')">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i> Copy data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>

<!-- Normal Data Modal -->
<div class="modal fade" id="normal-modal" tabindex="-1" aria-labelledby="normalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="normalModalLabel">Multi normal data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table" id="normal-table">

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}
